streamlit>=1.26,<2.0
# Use numpy >1.24.4 so Streamlit cloud doesn't attempt to build an older numpy that needs distutils
numpy>=1.25,<2.0
# pandas 2.x is compatible with numpy 1.25+
pandas>=2.0,<3.0
yfinance>=0.2
statsmodels>=0.13,<0.14
matplotlib>=3.7,<4.0
investpy>=1.0
plotly>=5.0
beautifulsoup4>=4.11
lxml>=4.9
requests>=2.28